@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

.main{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'STIX Two Math', serif;
  font-weight: 400;
  font-size: 1.5rem;
}

